body
{
	background:white;
	font-family:"Yantramanav";
	font-size:30px;
}


/*==============logo===================*/
.logo-cont{
	width:100%;
	height:120%;
}

.logo-cont img{
	padding-top:0%;
	padding-bottom:3%;
	display: block;
	margin-top:3%;
	margin-left: 5%;
	margin-right: auto;
	width: 10%;
}
/*============== Navigation Bar ===============*/
.nav-cont{
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    text-align:center;
	background-color: #C0C0C0;
	padding:0.01%;
	margin: 2%;

}
.nav-cont li{
    display:inline;
}
.nav-cont a{
    display:inline-block;
	color:black;
	font-family:Yantramanav;
	padding: 1% 0.8%;
	text-decoration: none;
}
.nav-cont li a:hover {
  background-color:white;
}
/* =========Collection Dropdown Button==========*/

.dropbtn {
  background-color: #C0C0C0;
  color: black;
  padding-right: 10%;
  font-family: Yantramanav;
  font-size:100%;
  border: none;
}
.dropdown {
  position: relative;
  display: inline-block;
  padding-right:0.5%;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #DCDCDC;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: white;}
.dropdown-content a:hover{background-color: white;}
/* =========Products Dropdown Button=============== */
.products-btn {
  background-color: #C0C0C0;
  color: black;
  padding-right: 10%;
  font-family: Yantramanav;
  font-size:100%;
  border: none;
}
.products-dp {
  position: relative;
  display: inline-block;
  padding-right:0.5%;
}
.products-dpcontent {
  display: none;
  position: absolute;
  background-color: #DCDCDC;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.products-dpcontent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* Show the dropdown menu on hover */
.products-dp:hover .products-dpcontent {display: block;}
.products-dp:hover .products-btn {background-color: white;}
.products-dpcontent a:hover{background-color: white;}

/* ================== END OF NAV =================== */

.video {
	text-align:center;
	padding-bottom:10%;
	
}


	
	